body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background-color: #141414;
  }
  
  .logo img {
    height: 50px;
  }
  
  .contact-us {
    text-align: center;
    padding: 50px 20px;
  }
  
  .contact-us h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contact-methods {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .contact-method {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
  }
  
  .contact-method h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .contact-method p {
    margin: 0;
  }
  
  /* footer css */

footer {
    background-color: #141414;
    color: #757575;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-links a {
    color: #757575;
    margin: 5px 15px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-language select {
    background-color: #141414;
    border: 1px solid #757575;
    color: #757575;
    padding: 5px;
  }
  
  .footer-copyright {
    margin-top: 20px;
  }
  
  /* footer css */

  